/* Шапка */
.headerWrapper {
  position: absolute;
  top: 20px;
  left: 50%;
  transform: translateX(-50%);
  width: 1100px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-family: Hero, sans-serif;
  color: #fdfcf9;
  z-index: 10;
}

.totalSummary {
  font-size: 20px;
}

.positiveSum {
  color: #7ee2a8;
  font-weight: 600;
}

/* Контейнер */
.wishlistWrapper {
  position: fixed;
  left: 50%;
  top: 65%;
  transform: translate(-50%, -65%);
  width: 1100px;
  margin: 0 auto;
  font-family: Hero, sans-serif;
  color: #fdfcf9;
}

/* Список */
.wishlistList {
  max-height: 420px;
  overflow-y: auto;
  display: flex;
  flex-direction: column;
  gap: 10px;
  padding-right: 8px;
}

/* Скролл */
.wishlistList::-webkit-scrollbar {
  width: 6px;
}

.wishlistList::-webkit-scrollbar-thumb {
  background: rgba(191, 174, 122, 0.5);
  border-radius: 3px;
}

/* Элемент */
.wishlistItem {
  height: 40px;
  border-radius: 8px;
  padding: 0 16px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  backdrop-filter: blur(6px);
  background: rgba(90, 100, 140, 0.45);
}

/* Выполнено */
.wishlistItem.completed {
  background: rgba(76, 175, 125, 0.4);
}

.wishlistStatus {
  opacity: 0.8;
}

.wishlistText {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.wishlistActions {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 10px;
}

.WishImage {
  width: 17px;
  height: 17px;
}

.wishlistActions button {
  all: unset;
  cursor: pointer;
  font-size: 18px;
  opacity: 0.8;
}

.wishlistActions button:hover {
  opacity: 1;
}

.wishlistDivider {
  margin: 20px 0;
  height: 1px;
  background: #fdfcf9;
  opacity: 0.5;
}

.addWishlistButton {
  all: unset;
  cursor: pointer;
  font-size: 22px;
  color: #fdfcf9;
}
